/*  # for id
    . for class
      for other functions */

  /*imports local fonts*/
  @font-face {
    font-family: DProRegCon;
    src: url(fonts/DugasPro-BlackSemi-condensed.ttf);
}
@font-face {
    font-family: ActayReg;
    src: url(fonts/Actay-Regular.otf);
}
@font-face {
    font-family: ActayRegItc;
    src: url(fonts/Actay-RegularItalic.otf);
}

body {
    background-color: rgb(233, 228, 219);
}

h1 {
    margin-top: 2vw;
    margin-left: 2vw;
}

h1 {
    font-family: DProRegCon;
    font-size: 7vw;
    letter-spacing: 0.2vw;
    color: rgb(128, 35, 16);
    text-align: center;
}

.card-image {
    max-width: 15vw;
    font-family: ActayReg;
  }

#equipment {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
}