/*  # for id
    . for class
      for other functions */

  /*imports local fonts*/
  @font-face {
    font-family: DProRegCon;
    src: url(fonts/DugasPro-BlackSemi-condensed.ttf);
}
@font-face {
    font-family: ActayReg;
    src: url(fonts/Actay-Regular.otf);
}
@font-face {
    font-family: ActayRegItc;
    src: url(fonts/Actay-RegularItalic.otf);
}

body {
    background-color: rgb(233, 228, 219);
}

h1 {
    margin-top: 2vw;
    margin-left: 2vw;
}

h1 {
    font-family: DProRegCon;
    font-size: 7vw;
    letter-spacing: 0.2vw;
    color: rgb(128, 35, 16);
    text-align: center;
}

sl-card {
    margin: 0.5vw;
    --border-width: 0.1vw;
    --border-color: black;
}

.card-image {
    max-width: 15vw;
    font-family: ActayReg;
    /* things that appeared in the console when I inspected
    my website that needed to go away so I could have my rounded corners.
    They alter the default styling built into the Shoelace UI component. */
    --border-radius: 1vw;
  }

#equipment {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
}

#method {
    overflow: scroll;
}

#back-shape {
    border-radius: 1vw;
    background: #a9a99a;
    width: 95vw;
    height: 50vw; 
    display: inline-flexbox;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
}

#slides-nav {
    text-align:center;
}