/*  # for id
    . for class
      for other functions */

  /*imports local fonts*/
  @font-face {
    font-family: DProRegCon;
    src: url();
}
@font-face {
    font-family: TSS;
    src: url();
}

body {
    background-color: rgb(233, 228, 219);
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: rgb(191, 14, 14);
}

#navbar {
    list-style: none;
    margin: 0;
    padding: 0;
}